
/************************************************position and size classes*******************************************************/
#wrapperMain
{
	width:980px;
	height:650px;
	overflow-x:hidden;
	margin:0px auto 0px auto;
}

#HearFBOnlineTitle
{
	width:980px;
	height:50px;
	margin-top:0px;
}

#threadsContainer
{
	float:left;
	width:980px;
	overflow-x:scroll;
	overflow-y:hidden;
}

#threadsScroller
{
	float:left;
}

.thread
{
	width:980px;
	float:left;
}


.participantUsers
{
	font-size:30px;
	font-family:"lucida grande, Segoe UI, Arial";
}


.messages
{
	
	height:500px;
	overflow-y:scroll;
	overflow-x:hidden;


}



.message
{
	float:left;
	margin: 5px auto 5px auto;
	width:950px;
}
.selectedMsg	
{
	font-size:32px;
}

.message .from
{
	text-decoration:underline;
}

.selectedMsg .msgHour
{
	font-size:26px;
}

/************************************************color classes*******************************************************/

.grayborder_whitefont
{
	border:gray 1px solid;
	color:white;
}

.blackBG_whitefont
{
	background-color: black;
	color:white;
}


